html{
	font-size: 18px;
	font-family: Helvetica;
}

/* logo and title */
.logo{
	background-color: black;
}

.logo .container{
	display: flex;
	align-items: center;
	padding: 0.66rem 0 0.66rem 0.5rem;
}
.logo img{
	height: 1.5rem;
	padding-right: 1rem;
}
.logo h3{
	font-size: 1rem;
	color: white;
	padding-top: 0.66rem;
	padding-bottom: 0.66rem;
}

/* container */
.container{
	max-width: 960px;
	margin: 0 auto;
}


/* main banner */
.main-banner{
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 25rem;
}

.headline{
	position: relative;
	top: 9rem;
	width: 20rem;
	font-family: Helvetica;
	color: white;
	background-color: black;
	padding: 2rem 3rem;
}
.headline p{
	font-size: 1rem;
	font-weight: bold;
	padding-top: 2rem;
	margin-bottom: 0.25rem;
}
.headline h4{
	font-size: 2rem;
	font-weight: bold;
	margin: 0.25rem 0;
}
/* navigation */
.navigation{
	width: 100%;
	background-color: Firebrick;
	font-family: Helvetica;
	color: white;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	}
nav span{
	display: inline-flex;
	justify-content: space-around;
	padding-left: 5rem;
}

/* product grid */
.product-grid{
	display: flex;
	justify-content: space-around;
	padding: 3rem 5rem;
	width: 960px;
}
/* column-left */
.column-left{
	width: 30%;
}
.column-left img{
	height: 9rem;
	border: solid black 4px;
	padding: 2rem;
}
.column-left h3{
	font-style: Helvetica;
	font-size: 1rem;
	color: white;
	background-color: black;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
}

/* column-centre */
.column-centre{
	width: 30%;
}

.column-centre img{
	height: 9rem;
	border: solid black 4px;
	padding: 2rem;
}
.column-centre h3{
	font-family: Helvetica;
	font-size: 1rem;
	color: white;
	background-color: black;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
}

/*column-right */
.column-right{
	width: 30%;
}
.column-right img{
	height: 9rem;
	border: solid black 4px;
	padding: 2rem;
}
.column-right h3{
	font-family: Helvetica;
	font-size: 1rem;
	color: white;
	background-color: black;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
}

/* location and hours */

.location-hours{
	display: inline-flex;
	padding-bottom: 3.5rem;
}
.location .hours{
	display: inline-flex;
	justify-content: space-between;
	padding left: 5rem;
	padding-right: 5rem;
}
.location-hours .location{
	padding-left: 2.5rem;
	width: 9rem;
	display: flex;
	justify-content: flex-start;
}
.location h3{
	color: white;
	font-size: 1rem;
	background-color: black;
	padding: 1rem 2rem;
}
.location p{
	color: black;
	font-size: 1 rem;
}

.location-hours .hours{
	width: 9rem;
	display: flex;
	justify-content: flex-end;
}
.hours h3{
	color: white;
	font-size: 1rem;
	background-color: black;
	padding: 1rem 2rem;
}
.hours p{
	color: black;
	font-size: 1rem;
}
/* footer */
.footer{
	width: 100%;
	background-color: black;
	height: 5rem;
}
.footer h3{
	color: white;
	text-align: left;
	padding: 2.5rem;
}
